<ion-card class="profile-card">
  <div class="name-info">
    <ion-avatar >
      <img src="../../assets/avatar.png">
    </ion-avatar>
    <div class="name">
      <ion-label>{{data.name}}</ion-label>
      <ion-label class="level">{{data.level}}</ion-label>
    </div>
  </div>
  <div class="data-info">
    <ion-button fill="clear" class="data-button" >
      <ion-icon slot="start" name="accessibility"></ion-icon>
      Meu Corpo
    </ion-button>
    <ion-button fill="clear" class="data-button" >
      <ion-icon slot="start" name="trophy"></ion-icon>
      Objetivos e Conquistas
    </ion-button>
  </div>
</ion-card>
